.slider {
  height: 100%;
  width: 100%;
}

.slider-wrapper {
  margin-left: 40%;
  width: 100%;

  & div {
    position: relative;
  }
}

.slide-image {
  height: 20rem;
  filter: blur(8px);
  transition: 0.2s;

  & img {
    width: 20rem;
    cursor: pointer;
  }

  &:hover {
    filter: blur(4px);
  }
  &:active {
    filter: blur(2px) opacity(50%);
  }

  &.show {
    filter: blur(0px);
  }
}

.slide-more {
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 2px;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.slide-content {
  visibility: hidden;
  width: 20rem;
  color: get-color(light, 1);
  background-color: get-color(dark, 1);

  &.show {
    visibility: visible;
  }
}

.slide-date {
  color: get-color(secondary, 2);
}

.reset-slider {
  cursor: pointer;
  transition: 0.2s;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 80px;
  background-color: get-color(dark, 1);
  color: get-color(primary, 1);
  box-shadow: 0px 0px 3px 3px get-color(dark, 2);

  &:hover {
    background-color: get-color(dark, 2);
    box-shadow: 0px 0px 3px 3px get-color(dark, 1);
  }
}

@media (max-width: 1520px) {
  .slider-wrapper {
    margin-left: 0;
  }
}
