.logo {
  cursor: default;
  & > svg {
    width: 64px;
    height: 64px;
    transition: 0.3s;
  }
  & h4 {
    letter-spacing: 4px;
    transition: 0.3s;
  }

  &:hover {
    & > svg {
      filter: drop-shadow(0 0 1px get-color(light, 1));
      transform: scale(1.3);
    }
    & h4 {
      text-shadow: 0 0 2px get-color(light, 1);
    }
  }
}

.routes {
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  text-underline-offset: 8px;
  color: get-color(light, 1);

  &:hover {
    text-decoration: underline;
    text-shadow: 0 0 2px get-color(light, 1);
  }

  &.active {
    color: get-color(primary, 1);
    text-shadow: 0 0 2px get-color(primary, 1);
    text-decoration: underline;
  }
}

#menu-icon {
  width: 40px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: get-color(light, 2);
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 14px;
    }
    &:nth-child(4) {
      top: 28px;
    }
  }

  &:hover {
    span {
      background: get-color(light, 1);
    }
  }

  &.open {
    span {
      &:nth-child(1),
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

.menu-container {
  background-color: get-color(dark, 1);
  position: fixed;
  left: 0;
  right: 0;
  transform: translate(-0%, 65%);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;

  &.open {
    position: absolute;
    opacity: 1;
    visibility: visible;
  }

  &.dark-1 {
    background-color: get-color(dark, 1);
  }
  &.dark-2 {
    background-color: get-color(dark, 2);
  }
  &.dark-3 {
    background-color: get-color(dark, 3);
  }
  &.dark-4 {
    background-color: get-color(dark, 4);
  }
  &.dark-5 {
    background-color: get-color(dark, 5);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, 65%);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translate(-0%, 65%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translate(-0%, 65%);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate(50%, 65%);
  }
}

.hero {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
