.routes {
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  text-underline-offset: 8px;
  color: get-color(light, 1);

  &:hover {
    text-decoration: underline;
    text-shadow: 0 0 2px get-color(light, 1);
  }

  &.active {
    color: get-color(primary, 1);
    text-shadow: 0 0 2px get-color(primary, 1);
    text-decoration: underline;
  }
}

#menu-icon {
  width: 40px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: get-color(light, 2);
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 14px;
    }
    &:nth-child(4) {
      top: 28px;
    }
  }

  &:hover {
    span {
      background: get-color(light, 1);
    }
  }

  &.open {
    span {
      &:nth-child(1),
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

.menu-container {
  background-color: get-color(dark, 1);
  position: fixed;
  top: 97px;
  left: 0;
  right: 0;
  transform: translateX(-0%);
  visibility: hidden;
  opacity: 0;
  border-bottom: 1px solid get-color(light, 1);

  &.open {
    position: absolute;
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-0%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-0%);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(50%);
  }
}
