$palette: (
  light: (
    1: #eceded,
    2: #dddddd,
    3: #a4a9ad,
    4: #7e8183,
  ),
  dark: (
    1: #131416,
    2: #1a1720,
    3: #171a20,
    4: #171d20,
    5: #17201d,
  ),
  primary: (
    1: #1dff7b,
    2: #0dda62,
    3: #069b44,
    4: #101813,
  ),
  secondary: (
    1: #31f0d0,
    2: #1dd8b9,
    3: #109b84,
    4: #006454,
  ),
  success: (
    1: #7aff0e,
    2: #1eff00,
    3: #2cbb00,
    4: #216800,
  ),
  error: (
    1: #ff5050,
    2: #e03333,
    3: #ff0019,
    4: #7a000c,
  ),
);
