html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: get-color(dark, 1);
  text-rendering: optimizeSpeed;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: get-color(dark, 1);
}

body::-webkit-scrollbar-thumb {
  background-color: get-color(light, 1);
  border-radius: 12px;
}

.error {
  margin: 0 auto;
  z-index: 9999;
}

header {
  overflow: hidden;
  z-index: 1;
  color: get-color(light, 1);
}

#tsparticles {
  position: fixed;
  z-index: -1;
}

nav {
  padding: 8px 32px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  border-bottom: 1px solid transparent;
  background: transparent;
}

main {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  color: get-color(light, 1);
}

article {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  padding: 128px 64px;
  color: get-color(light, 1);

  &:nth-child(even) {
    background-color: get-color(dark, 3);
  }
  &:nth-child(odd) {
    background-color: get-color(dark, 4);
  }
}

footer {
  padding: 64px;
  z-index: 1;
  height: 100%;
  color: get-color(light, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-align: center;
  word-wrap: break-word;
  font-weight: 800;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

p,
span {
  margin: 0;
  color: get-color(light, 2);
}

span {
  font-size: 16px;
}

p {
  font-size: 20px;
}

@media (max-width: $mobile-resolution) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  article {
    padding: 128px 32px;
  }
}

.react-reveal {
  animation-fill-mode: backwards !important;
}
